{
    "extends": "airbnb-base",
    "rules": {
      "no-tabs": 0,
      "indent": ["error", "tab"],
      "import/prefer-default-export": 0,
      "max-len": 0,
      "function-paren-newline": 0,
      "no-underscore-dangle": 0
    }
}
